@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  .team-list {
    /* width: calc((100% - 10px) / 1); */
  }
  .team-img {
  }
  .shadow {
    margin: 0 auto;
  }
  .customers-list {
    flex-wrap: wrap;
    gap: 72px 16px;
  }
  .customers-item {
    width: calc((100% - 18px) / 2);
  }
  .customers {
    padding: 96px 0;
  }
  .customers-link {
    width: auto;
  }
  .portfolio-list {
    justify-content: flex-start;
    margin-bottom: 48px;
    flex-wrap: wrap;
  }
  .portfolio-list-item {
    width: auto;
  }
  .portfolio-list-project {
    gap: 48px 0px;
  }
  /* .portfolio-list-project:nth-last-child(gap: 0 48px;) {
  } */
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .shadow {
    margin: 0;
  }
  .strategy-list-item {
    width: calc((100% - 24px) / 2);
  }
  .strategy-list {
    gap: 72px 24px;
  }
  .list-subtitle {
    justify-content: flex-start;
  }
  .strategy {
    padding: 96px 0;
  }
  .list-subtitle-text {
    /* font-weight: 500;  */
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    display: flex;
    justify-content: center;
  }
  .team-section {
    padding: 96px 92px;
  }
  .customers-item {
    width: calc((100% - 24px) / 3);
  }
  .customers-list {
    gap: 72px 24px;
    justify-content: center;
  }
  .customers-item {
  }
  .customers-link {
    /* width: 168px; */
  }
  .customers-item {
    width: calc((100% - 24px) / 4);
  }
  .portfolio-list {
    justify-content: center;
  }
  .section-main-portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .strategy {
    padding: 120px 0;
  }
  .list-subtitle {
    display: flex;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .list-subtitle-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    /* max-width: 264px; */
  }
  .strategy-list {
    gap: 24px;
  }
  .icons {
    display: flex;
    /* max-width: 264px; */
  }
  .strategy-list-item {
    width: calc((100% - 72px) / 4);
  }
  .team-section {
    padding: 120px 0;
  }
  .team-list {
    gap: 24px;
  }
  .customers-link {
    width: 168px;
  }
  .customers-item {
    width: 168px;
  }
  .customers-list {
    gap: 24px;
  }
  .customers {
    padding: 120px 0;
  }
  .section-main-portfolio {
    padding-top: 112px;
    padding-bottom: 120px;
  }
}
