@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  .team-list {
    /* width: calc((100% - 10px) / 1); */
  }
  .team-img {
  }
  .shadow {
    margin: 0 auto;
  }
  .customers-list {
    flex-wrap: wrap;
    gap: 72px 16px;
  }
  .customers-item {
    width: calc((100% - 18px) / 2);
  }
  .customers {
    padding: 96px 0;
  }
  .customers-link {
    width: auto;
  }
  .portfolio-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .portfolio-list-item {
    /* width: calc((100% - 48px) / 1); */
  }

  .portfolio-list-project {
    flex-direction: column;
    gap: 48px 0px;
  }
  .portfolio-list-item {
    width: 100%;
  }
  .main-block-text {
    padding: 112px 38px 72px;
    /* width: 3; */
  }
  /* .portfolio-list-project:nth-last-child(gap: 0 48px;) {
  } */
  .main-block-text {
    font-family: Roboto;
    text-transform: none;

    /* font-weight: 700; */
    line-height: 1.11; /* 111.111% */
    /* letter-spacing: 0.03em; */
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/office-mob@2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .shadow {
    margin: 0;
  }
  .strategy-list-item {
    width: calc((100% - 24px) / 2);
  }
  .strategy-list {
    gap: 72px 24px;
  }
  .list-subtitle {
    justify-content: flex-start;
  }
  .strategy {
    padding: 96px 0;
  }
  .list-subtitle-text {
    /* font-weight: 500;  */
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    display: flex;
    justify-content: center;
  }
  .team-section {
    padding: 96px 92px;
  }
  .customers-item {
    width: calc((100% - 24px) / 3);
  }
  .customers-list {
    gap: 72px 24px;
    justify-content: center;
  }
  .customers-item {
  }
  .customers-link {
    /* width: 168px; */
  }
  .menu-open-btn {
    display: none;
  }
  .navigation-menu {
    display: flex;
  }
  .header-address {
    display: flex;
    margin-left: 121px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .header-address > a {
    font-size: 12px;
  }
.header-address-item > .link {
font-size: 12px;
/* line-height: 1.16; /* 116.667% */  */
}
  .header-logo {
    margin-right: 120px;
  }
  .customers-item {
    width: calc((100% - 24px) / 4);
  }
  .portfolio-list {
    justify-content: center;
  }
  .section-main-portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-list-project {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .main-block-text {
    font-family: Roboto;
    font-size: 56px;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 1.12px;
    padding: 112px 120px 36px;
    text-align: center;
  }
  .main-block-button {
    margin-bottom: 112px;
  }
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office.tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/office-tab@2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-address {
    gap: 40px;
    margin-left: 332px;
    flex-wrap: nowrap;
  }
  .header-logo {
    margin-right: 76px;
  }
  .header-address-item > .link {
font-size: 16px;
/* line-height: 1.16; /* 116.667% */  */
}
  .strategy {
    padding: 120px 0;
  }
  .list-subtitle {
    display: flex;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .list-subtitle-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    /* max-width: 264px; */
  }
  .strategy-list {
    gap: 24px;
  }
  .icons {
    display: flex;
    /* max-width: 264px; */
  }
  .strategy-list-item {
    width: calc((100% - 72px) / 4);
  }
  .team-section {
    padding: 120px 0;
  }
  .team-list {
    gap: 24px;
  }
  .customers-link {
    width: 168px;
  }
  .customers-item {
    width: 168px;
  }
  .customers-list {
    gap: 24px;
  }
  .customers {
    padding: 120px 0;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
  .section-main-portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .portfolio-list-project {
    /* flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px; */
  }
  .main-block-text {
    padding: 188px 0 48px 0;
    display: flex;
    color: #fff;
    font-size: 56px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    max-width: 496px;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
  }
  .main-block-button {
    margin-bottom: 188px;
  }
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/office@2x.jpg);
    }
  }
}
