:root {
  --main-color: #2e2f42;
  --logo-color: #4d5ae5;
  --adress-color: #434455;
  --footer-color: #4d5ae5;
  --button-portfolio: #f4f4fd;
  --button-portfolio-text: #e7e9fc;
  --icons-color: #4d5ae5;
  --icons-hover: #404bbf;
  --svg-color: #f4f4fd;
  --customers-color: #8e8f99;
  --color-white: #ffffff;
  /* --footer-color: #31d0aa;  */
}
body {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}
.container-portfolio-header {
  /* display: flex; */
}
.nav-portfolio {
}
.container {
  /* width: 1440px; */
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
  margin-left: auto;
  margin-right: auto;
}
.header .container {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
img {
  display: block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
}
/** header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-item-portfolio {
  padding: 24px 0;
  color: #404bbf;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.navigation-menu {
  display: flex;
  gap: 40px;
  color: #404bbf;
}
.project {
   color: var(--main-color);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.link {
  color: var(--adress-color);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.header-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: var(--logo-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 76px;
  color: #404bbf;
}

.logo-blue {
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-transform: uppercase;
}
.header-menu {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.header-item {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  list-style-type: none;
  list-style: none;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 0px 0px 4px 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); */
  /* flex-basis: calc((100% - 72px) / 4 */
  /* width: calc((100% - 48px) / 3); */
}
.transition {
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.shadow {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.strategy-list:first-child {
  width: calc((100% - 72px) / 4);
}

.link:is(:hover, :focus) {
  color: #404bbf;
}
.main-block-button:is(:hover, :focus) {
  border-radius: 4px;
background: var(--ocean, #404BBF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
}
.main-section > .main-block-button:is(:hover, :focus) {
  background-color: #404bbf;
}
.icon {
  fill: #2e2f42;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  gap: 24px;
  list-style: none;
}
.icon-group {
  fill: #404bbf;
}
.icon-social {
  fill: var(--svg-color);
}
.icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  gap: 24px;
}
.item {
  width: 40px;
  height: 40px;
}
.header-item > a.header-item-link {
  color: var(--main-color);
}
.link-icon {
  width: 100%;
  height: 100%;
  background-color: var(--icons-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon:is(:hover, :focus) {
  background-color: var(--icons-hover);
}

/** MAIN BLOCK */
.main-section {
  display: flex;
  max-width: 1440px;
  /* justify-content: center; */
  background-color: #2e2f42;
  padding: 188px 0;
  flex-wrap: nowrap;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-section-block {
}
.strategy {
  padding: 120px 0;
  display: flex;
  flex-direction: row;
}
.strategy-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.strategy-list-item {
  width: calc((100% - 72px) / 4);
}
.main-block-text {
  display: flex;
  color: #fff;
  font-size: 56px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  max-width: 496px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  /* padding: 188px 472px 48px 472px; */
  /* max-width: 496px; */
  /* margin: 0 auto; */
  /* padding: 188px 472px 292px 472px; */
}
.address {
}
.header-address {
  display: flex;
  justify-content: end;
  font-style: normal;
  align-items: center;
  gap: 40px;
  margin-left: 332px;
}
.header-container {
  display: flex;
  align-items: center;
}
.main-block-button {
  display: block;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-size: 16px;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--footer-color);
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/** HIDEN TEXT SECTION 2 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-subtitle {
  display: flex;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.list-subtitle-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/** SECTION3 */
.doing {
  padding-bottom: 120px;
}
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--customers-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:is(:hover, :focus) {
  color: #404bbf;
  border-color: #404bbf;
  fill: ;
}
.list-doing {
  display: flex;
  gap: 24px;
}
.title-doing {
  margin-bottom: 72px;
}
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.title {
  color: var(--main-color);
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.title-team {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
  background-color: #f4f4fd;
}
.team-place {
  padding: 32px 0;
}
.member-title {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-align: center;
}
.description-portfolio {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/** FOOTER */
.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
  height: 312px;
}
.footer-div {
  display: flex;
  align-items: baseline;
}
.footer-div-logo {
  margin-right: 120px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* color: var(); */
}
.footer-logo {
  color: var(--footer-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-blue-white {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.foototer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}
.footer-list {
  display: flex;
  gap: 16px;
}
.footer-item {
  width: 40px;
  height: 40px;
}
.footer-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  gap: 16px;
}
.footer-link {
  width: 100%;
  height: 100%;
  background-color: var(--icons-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-link:is(:hover, :focus) {
  background-color: #31d0aa;
}
.button-portfolio {
  color: #4d5ae5;
  background-color: var(--button-portfolio);
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--button-portfolio-text);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:is(:hover, :focus) {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.shadow-button {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow-button:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  /* transform: translateY(0); */
}
.customers-svg {
  /* border-radius: 4px; */
  fill: currentColor;
  /* border: 1px solid var(--lightslate, #8e8f99); */
  padding: 16px 32px;
}
/** PORTFOLIO */
.color {
  color: #404bbf;
}
.header-item-link-portfolio {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  /* color: var(--main-color); */
  padding: 24px 0;
  /* color: #404bbf; */
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  /* color: #404bbf; */
}
.current:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  color: #404bbf;
  background-color: #404bbf;
  border-radius: 2px;
}
.link-header {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .header-item-portfolio::after {
  position: relative;
  /* content:"";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px; */

.section-main-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-list-project {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-cover-wrap {
}
.portfolio-cover {
  position: absolute;
  top: 0;
  height: 100%;
  background: #4d5ae5;
  padding: 40px 32px 164px 32px;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 300ms linear;
}
.portfolio-cover-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.member-title-portfolio {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.06em;
  margin-bottom: 8px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shadow-button:is(:hover, :focus) .portfolio-cover-text {
  transform: translateY(0);
}
/* BACKDROP */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:is(:hover, :focus) {
  border: none;
  background-color: #e7e9fc;
  fill: #ffffff;
  background-color: #404bbf;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(3);
}
.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn: is(: hover, : focus);
