:root {
  --main-color: #2e2f42;
  --logo-color: #4d5ae5;
  --adress-color: #434455;
  --footer-color: #4d5ae5;
  --button-portfolio: #f4f4fd;
  --button-portfolio-text: #e7e9fc;
}
body {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}
.container-portfolio-header {
  /* display: flex; */
}
.nav-portfolio {
}
.container {
  width: 1158px;
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
}
/** header */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-item-portfolio {
  padding: 24px 0;
}
.header-navigation {
  display: flex;
  align-items: center;
  gap: 76px;
}
.navigation-menu {
  display: flex;
  gap: 40px;
}

.link {
  color: var(--adress-color);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.header-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: var(--logo-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 76px;
}
.logo-blue {
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-transform: uppercase;
}
.header-menu {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.header-item {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  list-style-type: none;
  list-style: none;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 0px 0px 4px 4px;
  /* flex-basis: calc((100% - 72px) / 4 */
  /* width: calc((100% - 48px) / 3); */
}
.strategy-list:first-child {
  width: calc((100% - 72px) / 4);
}

.link:is(:hover, :focus) {
  color: #404bbf;
}
.main-section > .main-block-button:is(:hover, :focus) {
  background-color: #404bbf;
}

.header-item > a.header-item-link {
  color: var(--main-color);
}

/** MAIN BLOCK */
.main-section {
  background-color: #2e2f42;
  padding: 188px 0;
}
.main-section-block {
}
.strategy {
  padding: 120px 0;
  display: flex;
  flex-direction: row;
}
.strategy-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.main-block-text {
  color: #fff;
  font-size: 56px;
  text-align: center;
  max-width: 496px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  /* padding: 188px 472px 48px 472px; */
  /* max-width: 496px; */
  /* margin: 0 auto; */
  /* padding: 188px 472px 292px 472px; */
}
.header-address {
  font-style: normal;
  align-items: center;
  display: flex;
  margin-left: auto;
  gap: 40px;
}
.header-container {
  display: flex;
  align-items: center;
}
.main-block-button {
  display: block;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--footer-color);
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/** HIDEN TEXT SECTION 2 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-subtitle {
  display: flex;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.list-subtitle-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/** SECTION3 */
.doing {
  padding-bottom: 120px;
}
.list-doing {
  display: flex;
  gap: 24px;
}
.title-doing {
  margin-bottom: 72px;
}
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.title {
  color: var(--main-color);
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.title-team {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
}
.team-place {
  padding: 32px 0;
}
.member-title {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-align: center;
}
.description-portfolio {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/** FOOTER */
.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
  height: 312px;
}
.footer-logo {
  color: var(--footer-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-blue-white {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.button-portfolio {
  color: #4d5ae5;
  background-color: var(--button-portfolio);
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--button-portfolio-text);
  border-radius: 4px;
}
.button-portfolio:is(:hover, :focus) {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
/** PORTFOLIO */
.header-item-link-portfolio {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.section-main-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-list-project {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-list-project:first-child {
  /* width: calc((100% - 48px) / 3); */
}
.project-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.member-title-portfolio {
  margin-bottom: 8px;
}
